

<script id="bootstrap-logo" type="text/javascript">
  window.logoUrl = `<%=image_url("logo.png")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.devicesUrl = `<%=image_url("devices.png")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.videoGif = `<%=image_url("videogif.gif")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.tv = `<%=image_url("tv.png")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.symbol = `<%=image_url("symbol.png")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.browsebanner2 = `<%=image_url("browsebanner2.png")%>`
</script>

<script id="bootstrap-logo" type="text/javascript">
  window.angel = `<%=image_url("angel.png")%>`
</script>

<script id="bootstrap-logo" type="text/javascript">
  window.github = `<%=image_url("github.png")%>`
</script>

<script id="bootstrap-logo" type="text/javascript">
  window.linked = `<%=image_url("linked.png")%>`
</script>

<script id="bootstrap-logo" type="text/javascript">
  window.portfolio = `<%=image_url("portfolio.png")%>`
</script>

<main id="root"></main>