<!DOCTYPE html>
<html>
  <head>
    <title>Webfilms</title>
        <meta property="og:title" content="Webfilms" />
      <meta property='og:image' content="<%= image_url('screengrab.png') %>"/>
     <meta property="og:description"
       content="A Netflix inspired video streaming platform built with React on the frontend and Rails on the backend"
     />
     <meta property="og:url"
       content="webfilms.herokuapp.com"
     />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>

  <script id="bootstrap-current-user" type="text/javascript">

  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
          
  </script>

<% end %>
  </head>
<%= favicon_link_tag asset_path('favicon.ico') %>
  <body>
    <%= yield %>
  </body>
</html>
